<%- include('../partials/admin/header'); %>
<%- include('../partials/admin/navbar'); %>
<%- include('../partials/admin/sidenav'); %>

<% messages.forEach(function(message){ %>
<div class="alert alert-warning">
  <strong>  <%= messages %></strong> 
</div>
<% }) %>



  <form action="/category/category/new_category" method="post"> 
    <div class="form-group">
      <label for="category">Create category</label>
      <input type="text" class="form-control" id="category" aria-describedby="emailHelp" placeholder="create category" name = "name">
      <small id="emailHelp" class="form-text text-muted">create category</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
      </div>
    </main>
  </div>
</div>


        <script src="/js/dashboard.js"></script></body>
        <%- include('../partials/footers'); %>

