
<%- include('../partials/admin/header'); %>
<%- include('../partials/admin/navbar'); %>
<%- include('../partials/admin/sidenav'); %>


 


 <%= category%>


  
      </div>
    </main>
  </div>
</div>







 



        <script src="/js/dashboard.js"></script></body>
        <%- include('../partials/footers'); %>
</html>