	<%- include('../partials/landlord/header'); %>
	<%- include('../partials/landlord/navbar'); %>
	<%- include('../partials/landlord/sidenave'); %>	

	 


		<div class="jumbotron"> 
				after clicking each property, it'll route him/her to this page.
		here he can see all the details of that property.
		this page will also be accessible by the admin.
		below there will be delete and edit buttons
		</div>

		<%= property.title %>
		      <%= property.description %>
		      <%= property.price %>
		    </div>
  </div>
</div>
      	 



	
      


      <%- include('../partials/footer'); %>

      
      
    </main>
  </div>
</div>

</body>
</html>	


		

