	<%- include('../partials/landlord/header'); %>
	<%- include('../partials/landlord/navbar'); %>
	<%- include('../partials/landlord/sidenave'); %>	

	 


		
			<div class="container">
				<div class="card-deck" style="margin: 10px;">
					 <div class="card">
					  	     <h5 class="card-title"><%= property.title %></h5>
					  	     <div style="position: relative;left:150px">		  	     	
					    			<img src="/images/<%=property.id%>/gallery/<%=property.photo %>" class="card-img-top" style="height: 50%;width: 50%" alt="no pic">		    		
							 	</div>
					    	 <div class="card-body">			 
						      <p class="card-text"><%= property.description %></p>
						      <p class="card-text"><small class="text-muted"><%= property.price %></small></p>
						       <p class="card-text"><small class="text-muted"><%= property.category %></small></p>
						      <p class="card-text"><small class="text-muted"><%= property.posted %></small></p>
						    </div>
			  		</div>
				</div>
				<%= property.Owner.owner%>
				<a href="/landlord/landlord/edit/<%=property.id%>" class="btn btn-primary">Edit</a>   
													  
				 <a href="/landlord/landlord/delete/<%=property.Owner.owner%>/<%=property.id%>" class="btn btn-danger">delete</a>
			</div>		
 		</div>
	</div>     


      <%- include('../partials/footers'); %>

    </main>
  </div>
</div>

</body>
</html>	